[submodule "open3d_slam/thirdparty/delaunator-cpp"]
	path = open3d_slam/thirdparty/delaunator-cpp
	url = git@github.com:delfrrr/delaunator-cpp.git
[submodule "open3d_slam/thirdparty/ikd-Tree"]
	path = open3d_slam/thirdparty/ikd-Tree
	url = git@github.com:vell001/ikd-Tree.git
