<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="launch_prefix" default="gdb -ex run --args" doc="gdb -ex run --args"/>
	<arg name="launch_rviz" default="true" />
	<arg name="cloud_topic" default="/depth_camera_front_upper/point_cloud_self_filtered" />
	<arg name="parameter_filename" default="param_realsense.lua"/>
	<arg name="parameter_folder_path" default="$(find open3d_slam_ros)/param/"/>
	<arg name="map_saving_folder" default="$(find open3d_slam_ros)/data/maps/"/>
	<arg name="num_accumulated_range_data" default="1"/>
	<arg name="is_read_from_rosbag" default="true"/>
	<arg name="rosbag_filepath" default="/media/nubertj/FAN-RSL-SSD/Anymal/LEE_H_Tests/2023-01-23/_2023-01-23-15-55-03.bag"/>
	<arg name="use_sim_time" default="false"/>


	<!-- END OF ARGS -->	

	<param name="/use_sim_time" value="$(arg use_sim_time)" />
			
	<node name="mapping_node" pkg="open3d_slam_ros"
		type="mapping_node" output="screen" launch-prefix="$(arg launch_prefix)">

		<param name="cloud_topic" type="string" value="$(arg cloud_topic)" />
		<param name="parameter_folder_path" type="string" value="$(arg parameter_folder_path)" />
		<param name="parameter_filename" type="string" value="$(arg parameter_filename)" />
		<param name="num_accumulated_range_data" value="$(arg num_accumulated_range_data)"/>
		<param name="is_read_from_rosbag" value="$(arg is_read_from_rosbag)"/>
		<param name="rosbag_filepath" value="$(arg rosbag_filepath)"/>
		<param name="map_saving_folder" value="$(arg map_saving_folder)"/>
	</node>


	<include
		file="$(find open3d_slam_ros)/launch/vis.launch"
		if="$(arg launch_rviz)">
	</include>

</launch>