<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="launch_prefix" default="" doc="gdb -ex run --args"/>
	<arg name="launch_rviz" default="false" />
	<arg name="cloud_topic" default="/ouster_points_self_filtered" />
	<arg name="image_topic" default="/camMainView/Downsampled" />
	<arg name="use_rgb_from_camera" default="false" />
	<arg name="parameter_file_path" default="$(find m545_volumetric_mapping)/param/params_ouster_os0_128.yaml"/>
	<arg name="num_accumulated_range_data" default="1"/>
	

	<node name="mapping_node" pkg="m545_volumetric_mapping"
		type="mapping_node" output="screen" launch-prefix="$(arg launch_prefix)">

		<param name="cloud_topic" type="string"
			value="$(arg cloud_topic)" />

		<param name="image_topic" type="string"
			value="$(arg image_topic)" />

		<param name="use_rgb_from_camera" type="bool"
			value="$(arg use_rgb_from_camera)" />
			
		<param name="parameter_file_path" type="string"
			value="$(arg parameter_file_path)" />
			
		<param name="num_accumulated_range_data" value="$(arg num_accumulated_range_data)"/>
	</node>


	<include
		file="$(find m545_volumetric_mapping)/launch/vis.launch"
		if="$(arg launch_rviz)">
	</include>

</launch>