<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="launch_prefix" default="" doc="gdb -ex run --args"/>
	<arg name="launch_rviz" default="false" />
	<arg name="cloud_topic" default="/rslidar_points" />
	<arg name="parameter_file_path" default="$(find m545_volumetric_mapping)/param/params_velodyne_puck16.yaml"/>
	<arg name="num_accumulated_range_data" default="1"/>
	<arg name="is_read_from_rosbag" default="false"/>
	<arg name="rosbag_filepath" default=""/>
	

	<node name="mapping_node" pkg="m545_volumetric_mapping"
		type="mapping_node" output="screen" launch-prefix="$(arg launch_prefix)">

		<param name="cloud_topic" type="string"
			value="$(arg cloud_topic)" />
			
		<param name="parameter_file_path" type="string"
			value="$(arg parameter_file_path)" />
			
		<param name="num_accumulated_range_data" value="$(arg num_accumulated_range_data)"/>
		<param name="is_read_from_rosbag" value="$(arg is_read_from_rosbag)"/>
		<param name="rosbag_filepath" value="$(arg rosbag_filepath)"/>

	</node>


	<include
		file="$(find m545_volumetric_mapping)/launch/vis.launch"
		if="$(arg launch_rviz)">
	</include>

</launch>