<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="launch_rviz" default="true" />
	<arg name="cloud_topic" default="/rslidar_points" />
	<arg name="play_delay" default="0.4" />
	<arg name="play_rate" default="0.1" />
	<arg name="use_sim_time" default="true" />

	<arg name="bag_filename" default="first_mission_wangen.bag" /> 
	<arg name="bag_filepath" 
		default="$(find m545_volumetric_mapping)/data/$(arg bag_filename)" /> 

	<include file="$(find m545_volumetric_mapping)/launch/odometry.launch">
		<arg name="cloud_topic" value="$(arg cloud_topic)"/>
		<arg name="launch_rviz" value="$(arg launch_rviz)"/>
	</include>

	<node pkg="rosbag" type="play" name="rosbag"
		args="'$(arg bag_filepath)' --delay '$(arg play_delay)' --rate '$(arg play_rate)' --clock -s 3" />
	<!-- append - -loop for looping -->



</launch>