<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<arg name="launch_rviz" default="false" />
	<arg name="cloud_topic" default="/rslidar_points" />


	<node name="odometry_node" pkg="m545_volumetric_mapping"
		type="odometry_node" output="screen" launch-prefix="">

		<param name="cloud_topic" type="string"
			value="$(arg cloud_topic)" />
	</node>


	<include
		file="$(find m545_volumetric_mapping)/launch/vis.launch"
		if="$(arg launch_rviz)">
	</include>

</launch>